<% wrap_layout :layout do %>
  <header class="Header__Article">
    <h3>
      <%- link_to "/", class: "Header__Article__Link", title: "Link para a página inicial" do %>
        @fernahh
      <% end -%>
    </h3>
  </header>
  <article class="Article" role="article">
    <header>
    <time class="Post_Index__Date" datetime="<%= current_article.date.strftime('%Y/%m/%d') %>">
      Publicado em: <%= current_article.date.strftime('%d/%m/%Y') %></time>
      <h1 class="Article__Title"><%= current_article.title %></h1>
    </header>
    <section>
      <%= current_article.body %>
    </section>
    <%= partial "partials/share_bar", locals: { post_title: current_article.title } %>
  </article>
  <%= partial "partials/description", locals: { hello: false } %>
<% end %>
