<footer id="profile" role="content info">
  <%= image_tag 'profile.jpg', class: 'profile-picture',
    alt: "Imagem do rosto do autor, Luiz Fernando Rodrigues." %>
  <h1 class="profile-name">Luiz Fernando Rodrigues</h1>
  <p class="profile-description">
    Engenheiro front-end no <%= link_to 'Conta Azul', 'https://contaazul.com', target: '_blank', title: 'Conta Azul' %> e de buenas na web. Encontre-me no <%= link_to 'Twitter', 'http://www.twitter.com/fernahh', target: '_blank', title: 'Twitter' %>, <%= link_to 'Facebook', 'http://www.facebook.com/lfernahhh', target: '_blank', title: 'Facebook' %> ou <%= link_to 'Github', 'http://www.github.com/fernahh', target: '_blank', title: 'Github' %>.<span class="profile-blink"></span>
  </p>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=400798310005346";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
