<footer id="profile">
  <%= image_tag 'profile.jpeg', class: 'profile-picture' %>
  <h1 class="profile-name">Luiz Fernando Rodrigues</h1>
  <h2 class="profile-profession">Desenvolvedor Web</h2>
  <hr class="profile-separation" />
  <p class="profile-description">
    Estudante de análise e desenvolvimento de sistemas e de buenas na internet. Trabalho na <%= link_to 'Orgânica Digital', 'http://www.organicadigital.com', target: '_blank', title: 'Orgânica Digital' %>. Encontre-me no <%= link_to 'Twitter', 'http://www.twitter.com/fernahh', target: '_blank', title: 'Twitter' %>, <%= link_to 'Facebook', 'http://www.facebook.com/lfernahhh', target: '_blank', title: 'Facebook' %> ou <%= link_to 'Github', 'http://www.github.com/fernahh', target: '_blank', title: 'Github' %>.
  </p>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=400798310005346";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
