---
pageable: true
per_page: 6
title: "@fernahh, desenvolvedor e de buenas na web"
---

<main class="Article" role="main">
  <% if paginate && num_pages > 1 %>
    <% if prev_page %>
      <p class="Paginate"><%= link_to '&#8592; Página anterior'.html_safe, prev_page %></p>
    <% end %>
  <% end %>

  <% page_articles.each_with_index do |article, i| %>
    <div class="Post_Index">
      <time class="Post_Index__Date" datetime="<%= article.date.strftime('%Y/%m/%d') %>">
        Publicado em: <%= article.date.strftime('%d/%m/%Y') %></time>
      <h2 class="Post_Index__Title"><%= link_to article.title, article %></h2>
      <div class="Post_Index__Summary">
        <%= article.data.summary %>
      </div>
      <hr class="Post_Index__Separator" />
    </div>
  <% end %>

  <% if paginate %>
    <% if next_page %>
      <p class="Paginate Pull--right"><%= link_to 'Próxima página &#8594;', next_page %></p>
    <% end %>
  <% end %>

  <%= partial "partials/footer" %>
</main>
