---
title: "@fernahh, desenvolvedor e de buenas na web"
---

<main role="main">
  <%= partial "partials/description" %>
  <hr />
  <div class="Container__flex">
    <section class="Container__flex__item">
      <h1 class="lowercase">Artigos</h1>
      <% page_articles.each do |article| %>
        <div class="Post_Index">
          <h2 class="Post_Index__Title"><%= link_to article.title, article %></h2>
          <time class="Post_Index__Date" datetime="<%= article.date.strftime('%Y/%m/%d') %>">
            <%= article.date.strftime('%b %d %Y') %></time>
        </div>
      <% end %>
    </section>

    <section class="Container__flex__item">
      <h1 class="lowercase">Palestras</h1>
      <% data.talks.each do |talk| %>
        <div class="Post_Index">
          <h2 class="Post_Index__Title"><%= link_to talk.title, talk.link %></h2>
          <time class="Post_Index__Date" datetime="<%= talk.date.strftime('%Y/%m/%d') %>">
            <%= talk.event %>, <%= talk.date.strftime('%b %Y') %>
        </div>
      <% end %>
    </section>

    <section class="Container__flex__item">
      <h1 class="lowercase">Projetos</h1>
      <% data.projects.each do |project| %>
        <div class="Post_Index">
          <h2 class="Post_Index__Title"><%= link_to project.title, project.link %></h2>
          <p class="Post_Index__Date"><%= project.description %></p>
        </div>
      <% end %>
    </section>
  </div>

  <%= partial "partials/footer" %>
</main>
