<main role="main">
  <%= partial "partials/description", locals: { hello: true } %>
  <section class="Articles_List">
    <% page_articles.each do |article| %>
      <div class="Post_Index">
        <h2 class="Post_Index__Title">
          <% if article.data.external_url %>
            <%= link_to article.title, article.data.external_url, class: "Post_Index__Title__Link" %>
          <% else %>
            <%= link_to article.title, article, class: "Post_Index__Title__Link" %>
          <% end -%>
        </h2>
        <time class="Post_Index__Date" datetime="<%= article.date.strftime('%Y/%m/%d') %>">
          <span><%= article.data.category %></span>, <%= I18n.l(article.date, format: '%b %Y') %>
        </time>
      </div>
    <% end %>
  </section>
</main>
