---
title: "Talks"
---

<article class="Article" role="article">
  <header>
    <h1 class="Article__Title">Talks</h1>
  </header>
  <section>
    <% data.talks.each do |talk| %>
      <div class="Post_Index">
        <time class="Post_Index__Date" datetime="<%= talk.date.strftime('%Y/%m/%d') %>">
          <%= talk.date.strftime('%d/%m/%Y') %> | <%= talk.event %> | <%= talk.local %>
        </time>
        <h2 class="Post_Index__Title"><%= link_to talk.title, talk.link %></h2>
        <div class="Post_Index__Summary">
          <%= talk.summary %>
        </div>
        <hr class="Post_Index__Separator" />
      </div>
    <% end %>
  </section>
</article>
